* {
	line-height: 160%;
}

body {
	font-family: 'Be Vietnam Pro', sans-serif;
	margin: 16px 32px 80px;
	max-width: 8in;
}

header {
	display: flex;
	align-items: center;
}

header img {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	margin-right: 16px;
}

h1 {
	margin: 4px 0 4px 0;
	font-size: 24px;
}

h3 {
	margin: 24px 0 8px;
	font-size: 18px;
}

h4 {
	color: #2f86a6;
	margin: 16px 0 0 0;
	font-weight: 500;
	
}

section {
	break-inside: avoid;
    page-break-inside: avoid;
}

section p {
	margin-top: 0;
	margin-left: 32px;
	margin-bottom: 8px;
}

section ul {
	margin-left: 32px;
	padding-left: 16px;
}

p.note {
	color: #888;
}

p.note a {
	display: inline-block;
}

a {
	color: #1c6dd0;
	font-size: 16px;
}

.button {
	color: #1c6dd0;
	font-size: 16px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.button:hover {
	text-decoration: underline;
}

.button.active {
	color: #222;
	text-decoration: none;
}

.page-break {
	page-break-after: always;
}

@media print {
	.hidden-on-printing {
		display: none !important;
	}
}

@media not print {
	.hidden-on-screen {
		display: none !important;
	}
}

.horz {
	display: flex;
	align-items: center;
}

.horz img {
	margin-right: 4px;
	width: 16px;
}

.horz.gap-md > * {
	margin-right: 4px;
}

.mt-md {
	margin-top: 4px;
}

.muted {
	color: #999;
}

button {
	background-color: #7367f0;
	color: #fff;
	font-size: 14px;
	padding: 8px 16px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.timeline {
	--color-font: #000;
	display: flex;
	align-items: flex-start;
	gap: 30px;
}

.timeline-title {
	position: sticky;
	top: 20px;
	width: 150px;
	text-align: right;
	margin-top: 0;
}

.timeline-content {
	display: flex;
	flex-direction: column;
}

.timeline-content h4 {
	margin-top: 0;
}

.dot {
	--size: .5rem;
	width: var(--size);
	height: var(--size);
	margin: calc((1rem - var(--size))/2);
	border-radius: 50%;
	background-color: var(--color-font);
	flex-grow: 0;
	print-color-adjust: exact;
}

.line {
	flex-grow: 1;
	margin: 8px 0;
	width: 2px;
	background-color: var(--color-font);
	print-color-adjust: exact;
}

.timeline-article {
	display: flex;
	gap: 30px;
	width: 100%;
	max-width: 20rem;
}

.timeline-aside {
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: translateY(6px);
}

.timeline-main {
	padding-bottom: 2rem;
}